# Ignore folders.
.*
!.gitignore
!.github
tts
www
custom_components
google_calendar*
deps

# Ignore private config files
*.key
*.pem
*.json
*.conf
*.zip
*.db
*.db*
*.log
prezzibenzina.yaml

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets*
!secrets.example.yaml
known_*.yaml

# HACS Themes
themes/animated-weather-card